/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  --accent-color: rgb(255, 0, 112);
  --border-color: rgb(255, 0, 112, 0.5);
  --text-color: rgb(241, 178, 206);
  --title-text: #000028;
  --main-text: rgb(219, 0, 255);
}







