/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.theme_light.page {
  background-image: url(/images/cover-image-light.png);
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}


.page.theme_light {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --text-shadow: #FF0070;
  --title-footer-text: #FFC2E6;
}


@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;    
    } 

    .theme_light .title-cover {
      color: var(--title-footer-text);
      text-shadow: 4px 4px 0 var(--text-shadow);
    }

    .theme_light .text-cover {
      color: var(--text-color);
    }

    .theme_light .section__title {
      color: var(--text-color);
    }

    .theme_light .header__theme-menu-button {
      color: var(--text-color);
    }

    .theme_light .section__title-main {
      color: var(--text-color);
    }

    .theme_light .header__theme-menu-button:active {
      border: 1px solid var(--text-color);
    }
    
    .theme_light .header__theme-menu-button:hover {
      border: 1px solid var(--text-color);
    }
    
    .theme_light .header__theme-menu-button:focus-visible {
      border-bottom: 1px solid var(--text-color);
    }

    .theme_light .section-title--tips {
      color: var(--text-color);
    }

    .theme_light .section-subtitle {
      color: var(--text-color);
    }

    .theme_light .border::before {
      border-top: 1px solid var(--text-color);
      border-right: 1px solid var(--text-color);
    }
    
    .theme_light .border::after {
      border-bottom: 1px solid var(--text-color);
      border-left: 1px solid var(--text-color);
    }

    .theme_light .footer {
      color: var(--title-footer-text);
      text-shadow: 4px 4px 0 var(--text-shadow);
    }

    .theme_light .footer::before {
      border-top: 1px solid var(--text-color);
      border-right: 1px solid var(--text-color);
    }
    
    .theme_light .footer::after {
      border-bottom: 1px solid var(--text-color);
      border-left: 1px solid var(--text-color);
    }

    .theme_light .section__title-image {
      color: var(--text-color);
    }

    .theme_light .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      white-space: nowrap; 
    }
}





