:root .theme_light {
  --bg-image: url(../images/cover-image-light.png);
  background-color: #fff1f7;
  --title-cover: #FFC2E6;
  --accent-color: #FF0070;
  --btn-color: #353430;
  --bg-color-text: #FF8DCB;
  --text-cover: #353430;
  --text-main: #353430;
  --btn-color-opacity: rgb(53, 52, 48, 0.5); 
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --title-cover: #FFC2E6;
    --accent-color: #FF0070;
    --btn-color: #353430;
    --bg-color-text: #FF8DCB;
    --text-cover: #353430;
    --text-main: #353430;
    --btn-color-opacity: rgb(53, 52, 48, 0.5); 
  }

  .theme_light .hidden-element,
  .theme_auto .hidden-element {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
   }
}


.theme_light .hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
 }

